[access]
	inheritFrom = GerritForge/gerrit-enterprise-projects
[submit]
[project]
	description = Plugin to extract commit and review data from Gerrit projects and expose aggregated metrics over REST and SSH API.
[access "refs/*"]
	owner = group GerritForge-analytics
	owner = group user/Luca Milanesio (lucamilanesio)
	label-Code-Review = -2..+2 group GerritForge-analytics
	label-Verified = -1..+1 group GerritForge-analytics
	push = group user/Luca Milanesio (lucamilanesio)
	rebase = group GerritForge-analytics
	removeReviewer = group GerritForge-analytics
	submit = group GerritForge-analytics
[access "refs/tags/*"]
	push = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
